@baseSpacing: 10px;
@doubleSpacing: @baseSpacing * 2;
// colors.less
@ak-color-N40: #DFE1E6;
@dividerColor: @ak-color-N40;
@ak-color-N100: #7A869A;
@descriptionTextColor: @ak-color-N100;
//@lozengeTextColor: #fff;          // White
//@ak-color-B500: #0747A6;

.mybranches-progress-text {
    padding: 20px 20px 10px;
}

.mybranches-progress-indicator {
    margin-left: 20px;
    // Progress indicator is displayed in the same dialog as the branches table. The table has
    // overflow set. Shifting the indicator a few pixels to the left will lead to display the
    // horizontal scrollbar. To avoid that, limit the vertical size of the indicator by 2*margin-left.
    // The result is .aui-inline-dialog-contents width (800px) - 2 x 20px.
    width: 760px;
}

#mybranches-dialog .aui-inline-dialog-contents {
    // 800px is the width of BB6's #inline-dialog-inbox-pull-requests-content (which is the <aui-inline-dialog>)
    width: 800px;
    padding: 0;

    > #mybranches-table-wrapper {
        max-height: 400px;
        overflow: auto;
        padding: @baseSpacing @doubleSpacing @doubleSpacing @doubleSpacing;
    }

    > .focus-message {
        margin: @doubleSpacing auto;
    }

    .no-results.pull-request-table-message {
        margin-top: @baseSpacing;
        color: @descriptionTextColor;

        > h3 {
            margin-top: @baseSpacing;
        }
    }
}

.mybranches-dialog-heading {
    width: 100%;

    td {
        padding: @baseSpacing @doubleSpacing;
        border-bottom: 1px solid @dividerColor;
    }
    td:nth-child(2) {
        text-align: right;
    }
}

#mybranches-table-wrapper td {
    vertical-align: middle !important;
}

.mybranches-rendered-commits {
    white-space: nowrap;
}

.mybranches-delete-heading {
    text-align: right;
}

#mybranches-reload-button, #mybranches-submitbutton {
    outline: none; // Suppress dotted line around button at click
}

.tipsy-inner {
    text-align: left;
}

.mybranches-pullrequest-tooltip {
    border-collapse: collapse;
}

.mybranches-pullrequest-tooltip td {
    vertical-align: middle;
}

.mybranches-pullrequest-tooltip td:nth-child(2) {
    padding: 0 10px 0 10px;
}

.mybranches-commits-block {
    position: relative;
    //background: green;  // For development
}

.mybranches-commit-tooltip-area {
    position: absolute;
    //border:solid 1px; // For development
}

#mybranches-dialog-trigger {
    position: relative;

    aui-badge {
        // The natural background is:
        //  hsla(0,0%,100%,.25)
        // which is light blue / transparent. But in my opinion, there could be more contrast.
        // Therefore, I make it light grey. The number of branches in the aui-badge is a lot better readable with this.
        background: rgba(112, 112, 112, 0.5);
        padding: 3px 2px 2px 2px;
        position: absolute;
        right: 0;
        top: 4px;
    }
}

#mybranches_alt_email {
    font-size: 14px !important;
    width: 800px;
    max-width: none !important;
    overflow-x: auto;
    resize: both !important;
}
